.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mb-styles {
  background-color: purple;
  padding: 2px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}
.section3 {
  text-align: center;
}
.section2a .section2b {
  display: flex;
}

.label {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.bnb-main {
  align-items: center;
  text-align: center;
  padding: 1opx;
}
